<!DOCTYPE html>
<html>
<head>
  <title>Stickies Application</title>
  <script src="/javascripts/alpine.js"></script>
  <script src="/javascripts/app.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <div id="instruction">
    <p>Click tab</p>
  </div>
  <div 
      x-data="$store.app.stickers = $store.app.loadStickers()"
      @keydown.tab.document="$store.app.addSticker();" 
      @keyup.delete.window="$store.app.removeSticker()"
      @keyup.up.prevent="$store.app.shiftFocusOneRowAbove()"
      @keyup.right.prevent="document.activeElement.nextElementSibling.focus()"
      @keyup.down.prevent="$store.app.shiftFocusOneRowBelow()"
      @keyup.left.prevent="document.activeElement.previousElementSibling.focus()"
      id="board"
    >
      <template x-for="(sticker, index) in $store.app.stickers" :key="index" >
        <textarea 
            x-model="sticker.content" 
            placeholder="Write on me!"
            @blur="$store.app.saveStickers()"
            @mouseover="$store.app.focusElement()"
            class='note' 
            :class="`${$store.app.colorMap[sticker.colorIndex]}`" 
            draggable="true" 
            @keyup.alt="$store.app.shiftColor(sticker)"
            @dragover.prevent=""
            @drop="$store.app.swap()"
        ></textarea>
        </div>
      </template>
  </div>
</body>
</html>