<!DOCTYPE html>
<html>
<head>
  <title>Stickies Application</title>
  <script src="/javascripts/alpine.js"></script>
  <script src="/javascripts/app.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <input 
      hidden 
      type="file" 
      id="upload" 
      accept=".json"
      @change="$store.app.handleUpload(event)"
    >
  <div 
      id="instruction"
      x-show="$store.app.stickers.some(it => it.content === '/help')"
    >
    <div class="instruction-line">
      <span>Press tab while focusing on the last sticker to insert a new sticker after the last sticker.</span>
    </div>
    <div class="instruction-line">
      <span>Press shift + tab while focusing on the first sticker to insert a new sticker before the first sticker.</span>
    </div>
    <div class="instruction-line">
      <span>Press alt while focusing on the sticker to change it's color.</span>
    </div>
    <div class="instruction-line">
      <span>Press delete on an empty sticker to remove it.</span>
    </div>
    <div class="instruction-line">
      <span>Follow <a href="/ui/new">/ui/new</a> to create a new board.</span>
    </div>
    <div class="instruction-line">
      <span>Follow <a href="/ui/delete/{{id}}">/ui/delete/{{id}}</a> to delete the board with id given in the url (current board).</span>
    </div>
    <div class="instruction-line">
      <span>Type "/export" to export the stickie board.</span>
    </div>
    <div class="instruction-line">
      <span>Type "/import" to import the stickie board.</span>
    </div>
  </div>
  <div 
      x-data="$store.app.loadStickers('{{id}}')"
      @keydown.tab.document="$store.app.addSticker();" 
      @keyup.delete.window="$store.app.removeSticker()"
      @keyup.up.prevent="$store.app.shiftFocusOneRowAbove()"
      @keyup.right.prevent="document.activeElement.nextElementSibling.focus()"
      @keyup.down.prevent="$store.app.shiftFocusOneRowBelow()"
      @keyup.left.prevent="document.activeElement.previousElementSibling.focus()"
      id="board"
    >
      <template x-for="(sticker, index) in $store.app.stickers" :key="index" >
        <textarea 
            x-model="sticker.content" 
            placeholder="Write on me!"
            @mouseover="$store.app.focusElement()"
            class='note' 
            :class="`${$store.app.colorMap[sticker.colorIndex]}`" 
            draggable="true" 
            @keyup.alt="$store.app.shiftColor(sticker)"
            @keyup="$store.app.processCommand(sticker)"
            @keyup.debounce.1500ms="$store.app.saveStickers()"
            @dragover.prevent=""
            @drop="$store.app.swap()"
            maxlength="380"
        ></textarea>
        </div>
      </template>
  </div>
</body>
</html>