body {
  background-color: #EAF2E3;
}

.button {
  float: right;
  margin: 0px 50px 0 0;
  background-color: #E75448;
  padding: 10px 15px;
  color: white;
  font-family: helvetica, arial, sans-serif;
  border-radius: 4px;
  font-weight: 500;
}

a.button {
  text-decoration: none;
}

#instruction {
  display: flex;
  flex-wrap: wrap;
}

#board {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 30px 30px;
  margin-top: 40px;
  overflow-y: visible;
}

.text {
  display: contents;
}

.text p {
  font-family: 'Courier New', Courier, monospace;
}

.note {
  float: left;
  display: inline-flex;
  position: relative;
  padding: 1em;
  width: 300px;
  min-height: 300px;
  margin: 0 30px 30px 0;
  background: linear-gradient(top, rgba(0, 0, 0, .05), rgba(0, 0, 0, .25));
  box-shadow: 5px 5px 10px -2px rgba(33, 33, 33, .3);
  transform: rotate(2deg);
  transform: skew(-1deg, 1deg);
  transition: transform .15s;
  z-index: 1;
}

.note:focus, 
.note:focus-within {
  transform: skew(0deg, 0deg);
  animation: noteFocus 1s ease-in-out;
  outline: none;
}

@keyframes noteFocus {
  0% {
    box-shadow: 5px 5px 10px -2px rgba(255, 233, 36, 0.3);
  }
  50% {
    box-shadow: 0px 0px 20px 5px rgba(255, 233, 36, 0.3);
  }
  100% {
    box-shadow: 5px 5px 10px -2px rgba(255, 233, 36, 0.3);
  }
}

.note:focus {
  cursor: move;
}

.note.red {
  background-color: #E75448;
}

.note.orange {
  background-color: #dbac3e;
}

.note.blue {
  background-color: #3083d1;
}

.note.green {
  background-color: #349b4e;
}

textarea {
  background-color: transparent;
  border: none;
  resize: vertical;
  font-family: "Gloria Hallelujah", cursive;
  width: 100%;
  height: 100%;
  padding: 5px;
  font-size: 12pt;
  resize: none;
  margin-top: 15px;
}

.dragged {
  visibility: hidden;
}

textarea:focus {
  outline: none;
  border: none;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, .2) inset;
}

.text {
  width: 100%;
  height: 100%;
}

.note-index {
  visibility: hidden;
}

.focus {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, .2) inset;
}