<!DOCTYPE html>
<html>
<head>
  <title>Stickies Application</title>
  <script src="/javascripts/alpine.js"></script>
  <script src="/javascripts/app.js"></script>
  <link href="/stylesheets/style.css" rel="stylesheet" />
</head>
<body>
  <div 
      x-data="$store.app.stickers = $store.app.loadStickers()"
      @click.self="$store.app.unfocus();"
      @keyup.space.window="$store.app.addSticker()" 
      @keyup.delete.window="$store.app.removeSticker()"
      class="board"
    >
      <template x-for="(sticker, index) in $store.app.stickers" :key="index">
        <div 
            class='note' 
            :class="{'dragging': sticker.dragging, 'focus': sticker.focus}" 
            draggable="true" 
            @dragstart="sticker.dragging = true; $store.app.unfocus();" 
            @dragend="sticker.dragging = false" 
            @drop.throttle="sticker.dragging = false;" 
            @mouseup.document="sticker.dragging = false" 
            @dragover.prevent=""
            @click="$store.app.unfocus(); sticker.focus = true"
            @drop="$store.app.swap()"
          >
          <div class="text">
            <span class="note-index" x-text="index"></span>
            <textarea 
                x-model="sticker.content" 
                class="cnt" 
                placeholder="Enter note description here"
                @blur="$store.app.unfocus(); $store.app.saveStickers()"
              ></textarea>
          </div>
        </div>
      </template>
  </div>
</body>
</html>